/* Modo claro padrão */
body {
    background-color: #c6c2c2;
    color: #000;
}

.dark-mode {
    background-color: #121212;
    color: #f8f9fa;
}

/* Modal */
/* Remover a borda inferior da modal-header */
.modal-header {
    border-bottom: none;
}

/* Botão de pesquisa e campo de input */
.modal-body .btn-primary {
    border-radius: 0;
}

.modal-body .form-control {
    border-radius: 0;
}
/* Posiciona o modal no topo da janela, mais para cima */
.modal-custom-position {
    display: flex;
    align-items: flex-start; /* Coloca o modal mais próximo do topo */
    margin-top: 10%; /* Ajusta a distância do topo da janela */
}
/* Estilo do input para dar destaque */
.input-group .form-control:focus {
    box-shadow: none;
    border-color: #0d6efd;
}

/* Navbar */
.dark-mode .navbar {
    background-color: #343a40 !important;
}

.dark-mode .btn-outline-light {
    border-color: #f8f9fa;
    color: #f8f9fa;
}

.navbar {
    height: 65px;
    display: flex;
    align-items: center;
}

.navbar-logo1 {
    height: 45px;
    width: auto;
}

.navbar-logo2 {
    height: 125px;
    width: auto;
    margin-top: 10px;
}

/* Banner e Gradiente */
.banner-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

/* Posicionamento das setas de navegação do carrossel */
.carousel-control-prev,
.carousel-control-next {
    top: 60%;
    /* Ajusta o valor para cima ou para baixo conforme desejado */
    transform: translateY(-30%);
    /* Centraliza verticalmente a partir do novo ponto */
}


/* Contêiner para centralizar quadrados sobre o banner */
.container-wrapper {
    position: absolute;
    top: 70%;
    /* Ajusta a posição vertical para baixo */
    left: 10%;
    /* Margem esquerda */
    transform: translateY(-50%);
    /* Ajusta a altura dos containers na página */
    display: flex;
    gap: 10px;
    /*Espaço Central entre os quadrados */
    width: 80%;
    /* Ajusta largura do contêiner */
    z-index: 3;
    /* Garante que esteja sobre o banner */
}


/* Contêiner principal ocupando metade esquerda */
.main-square {
    flex: 1;
    height: 100%;
    margin-right: 20px;
    /* Margem direita */
}

/* Contêiner da metade direita com duas secções empilhadas */
.side-square-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-square {
    flex: 1;
}

/* Contêineres quadrados */
.square-container {
    width: 100%;
    /* Ajusta largura dentro do layout */
    height: 400px;
    /* Ajusta altura para cada bloco */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo dos contêineres no modo claro */
.square-container {
    background-color: #fff;
    color: #000;
}

/* Estilo dos contêineres no modo escuro */
.dark-mode .square-container {
    background-color: #000;
    color: #f8f9fa;
}

/* Responsividade */
@media (max-width: 768px) {
    .square-container {
        width: 100%;
        height: auto;
    }
}
